<!--<link rel="stylesheet" href="registracija.component.css">-->
<div style="text-align:center">
  <h1>
    Registracija
  </h1>
  <p>Ime:</p>
  <input type="text" value="" id="firstnameInput">
  <p>Prezime:</p>
  <input type="text" value="" id="lastnameInput">
  <p>Username:</p>
  <input type="text" value="" id="usernameInput">
  <p>Password:</p>
  <input type="password" value="" id="password1Input">
  <p>Password:</p>
  <input type="password" value="" id="password2Input">
  <p>E-mail:</p>
  <input type="text" value="" id="emailInput">
  <p>Telefon:</p>
  <input type="text" value="" id="telefonInput">
  <br>
  <br>
  <button (click) = "Registracija()">Registruj se</button>
</div>
