<!--<link rel="stylesheet" href="create-article.component.css">-->
<form>
  <p>Name:</p><br>
  <input type="text" name="title">
  <br>
  <p>Location:</p><br>
  <input type="text" name="location">
  <br>
  <p>Price:</p><br>
  <input type="text" name="price">
  <br>
  <br>
  <p>Condition:</p>
  <select name="condition">
   <option value="new">New</option>
   <option value="used">Used</option>
  </select>
  <br>
  <br>
  <p>Category:</p>
  <select name="category">
   <option value="category1">Category 1</option>
   <option value="category2">Category 2</option>
  </select>
  <br><br>
  <button type="submit">SUBMIT</button>
</form>
