<!--<link rel="stylesheet" href="create-article.component.css">-->

<app-navbar></app-navbar>

<form style="position: absolute; margin-top: 50px">
  <p>Name:</p><br>
  <input type="text" name="title" id="name">
  <br>
  <p>Location:</p><br>
  <input type="text" name="location" id="location">
  <br>
  <p>Price:</p><br>
  <input type="text" name="price" id="price">
  <br>
  <br>
  <p>Condition:</p>
  <select name="condition" id="condition">
   <option value="new">New</option>
   <option value="used">Used</option>
   <option value="used">NotApplicable</option>
  </select>
  <br>
  <br>
  <p>Category:</p>
  <select name="category" id="category">
   <option *ngFor="let category of categories" value="{{category}}">{{category}}</option>
  </select>
  <br><br>
  <button type="button" (click)="submit()">SUBMIT</button>
</form>
